.transact_purchase_button {
  margin-bottom: 1.25rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 68%, rgba(255, 255, 255, 1));
  height: 150px;
  position: relative;
  margin-top: -125px;
  padding-top: 125px;
  z-index: 1;
}
.transact_purchase_button 
  table {
    width: 100%;
  }
.transact_purchase_button 
  table 
    tr {
      border: 0;
    }
.transact_purchase_button 
  table 
    td {
      width: 50%;
      text-align: center;
    }

.transact_purchase_button 
  button,
.transact_purchase_button 
  button:hover,
.transact_purchase_button 
  button:focus {
    background-color: #19a5ae;
    font-weight: normal;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    font-size: 8pt;
    border-radius: 2px;
    padding: 6px 8px;
    padding-left: 22px;
    cursor: pointer;
    background-image: url(transact_icon.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 9px 50%;
    width: 100%;
  }
.transact_purchase_button 
  button#button_purchase_subscription {
    padding-left: 8px;
    background: white;
    color: black;
    border: 1px solid black;
  }

body.toplevel_page_transact-admin-page input[type='color'] {
  padding: 0px 2px;
}

/* SQUARE BUTTON
    background-color: #19a5ae;
    border: 0;
    color: white;
    font-size: 7pt;
    border-radius: 2px;
    padding: 10px 13px;
    padding-top: 38px;
    cursor: pointer;
    background-image: url(transact_icon.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 50% 14px;
*/
